
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.question-div {
  display: flex;
  justify-content: center;
}

.question-button {
  justify-content: center;
  text-align: center;
  background-color: #42e3d6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

.button-link {
  justify-content: flex-end;
  text-align: center;
  background-color: #42e3d6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}
